.link {
  color: var(--primary-color);
}

.secondary {
  color: var(--inverted-primary-color);
}

.secondary:hover {
  color: var(--inverted-secondary-color);
}

:global(.dark) .secondary {
  color: var(--primary-color);
}

:global(.dark) .secondary:hover {
  color: var(--secondary-color);
}

.primary {
  color: var(--primary-color);
}
