.sidebar {
  height: 100%;
  width: var(--sidebar-width);
  position: relative;
  background: var(--bg-color-inverted);
  transition: width 0.3s ease-in-out;
  overflow: hidden;
}

.collapsed {
  width: var(--sidebar-width-collapsed);
}

.collapsed :global(.language-switcher) {
  margin: 8px 0 0;
}

.switchers {
  display: flex;
  justify-content: center;
  padding: 0 10px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  transform: translateX(0);
  transition: all 0.3s ease;
}

.collapsedBtn {
  position: absolute;
  left: 24px;
  top: 0;
}

.links {
  margin: 48px 0 0 30px;
  display: flex;
  flex-direction: column;
}

.collapsed .switchers {
  flex-direction: column;
  left: 50%;
  transform: translateX(-50%);
}

.collapsed .links {
  margin: 48px auto 0;
}

.collapsed .collapsedBtn {
  left: 50%;
  transform: translateX(-50%);
}
