.listbox {
  position: relative;
  min-width: 160px;
}

.list {
  width: 100%;
  background: var(--listbox);
  position: absolute;
  z-index: 100;
  border-radius: 12px;
  box-shadow: 2px 2px 8px var(--bg-color-inverted);
}

.list:focus-visible {
  outline-color: transparent;
}

:global(.dark_theme) .list {
  box-shadow: 2px 2px 8px #eaeaff2e;
}

.item {
  padding: 10px 18px 10px 24px;
  position: relative;
  cursor: pointer;
}

.item:first-child {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.item:last-child {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.active {
  color: lightblue;
  background: var(--listbox-selected);
}

:global(.dark_theme) .active {
  color: var(--white-color);
}

.disabled {
  opacity: 0.7;
}

.selected::after {
  content: "";
  height: 2px;
  width: 8px;
  position: absolute;
  left: 5px;
  top: 50%;
  background: lightblue;
  transform: translateY(-50%) rotate(45deg);
}

.selected::before {
  content: "";
  height: 2px;
  width: 8px;
  position: absolute;
  left: 10px;
  top: 50%;
  background: lightblue;
  transform: translateY(-50%) rotate(-45deg);
}

:global(.dark_theme) .selected::after,
:global(.dark_theme) .selected::before {
  background: var(--white-color);
}

.optionsBottomLeft {
  top: 100%;
  right: 0;
}

.optionsBottomRight {
  top: 100%;
  left: 0;
}

.optionsTopRight {
  bottom: 100%;
  right: 0;
}

.optionsTopLeft {
  left: 0;
  bottom: 100%;
}

.label {
  font: var(--font-sm);
}
