.orange_theme {
  --bg-color: #fc7000;
  --bg-color-inverted: #fca310;

  --primary-color: #fbf7f4;
  --inverted-primary-color: #030201;
  --secondary-color: #9c4803;
  --inverted-secondary-color: #fcc729;

  --skeleton-color: #fff;
  --skeleton-shadow: rgba(0 0 0 / 20%);
  --code-bg: #fff;
  --card-bg: #d5d5d7;

  /* listbox */
  --listbox: #d5d5d7;
  --listbox-selected: #fbf7f4;
}
