.wrapper {
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  height: var(--navbar-height);
  display: flex;
  align-items: center;
  gap: 16px;
  background-color: var(--bg-color-inverted);
}

.links {
  margin-left: auto;
}

.dropdown {
  display: flex;
  gap: 16px;
  margin-left: auto;
}

.appName {
  width: calc(var(--sidebar-width) - 20px);
  margin-left: 15px;
}

.createLink {
  margin-left: 15px;
}

@media screen and (max-width: 767px) {
  .wrapper {
    padding: 0 15px;
    gap: 8px;
  }

  .appName {
    width: auto;
    margin: 0;
  }

  .createLink {
    font-size: var(--font-size-sm);
    line-height: var(--font-lineheight-sm);
  }
}
