.wrapper {
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  height: var(--navbar-height);
  display: flex;
  align-items: center;
  gap: 16px;
  background-color: var(--bg-color-inverted);
}

.links {
  display: flex;
  gap: 16px;
  margin-left: auto;
}

.appName {
  width: calc(var(--sidebar-width) - 20px);
  margin-left: 15px;
}

.createLink {
  margin-left: 15px;
}
