.card {
  padding: 20px;
  border: 2px solid var(--primary-color);
}

.card + .card {
  margin-top: 16px;
}

.editing {
  border: 2px solid var(--inverted-primary-color);
}

.inputWrapper + .inputWrapper {
  margin-top: 10px;
}

.loading,
.error {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatarWrapper {
  display: flex;
  width: 100%;
  justify-content: center;
}

.skeletonBlock {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.skeletonWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.skeletonAvatar {
  align-self: center;
}

@media screen and (max-width: 767px) {
  .card {
    padding: 16px 12px;
  }
}
