.card {
  padding: 20px;
  border: 1px solid var(--primary-color);
}

.edit {
  margin-left: auto;
}

.header {
  display: flex;
}

.input + .input {
  margin-top: 10px;
}

.wrapper {
  margin-top: 30px;
}
