.sortWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search {
  margin-top: 16px;
}

.searchInput {
  max-width: none;
}

.tabs {
  margin-top: 16px;
}

@media screen and (max-width: 767px) {
  .sortWrapper {
    flex-direction: column;
    align-items: stretch;
  }
}
