.wrapper {
  width: 400px;
  display: flex;
  flex-direction: column;
}

.title {
  margin-bottom: 16px;
}

.input + .input {
  margin-top: 10px;
}

.loginBtn {
  margin-top: 15px;
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .wrapper {
    width: auto;
  }
}
